@font-face {
        font-family: Roboto;
        src: url("Roboto.ttf");
    }

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 240vh;
    font-family: Roboto;
    padding: 0;
    margin: 0;
}



.header {
    background-color: #1F2937;
    color:#F9FAF8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 75px;
}

a:link {
    text-decoration: none;
    color: #F9FAF8;
}

a:visited {
    color:#F9FAF8;
}

ul {
    list-style-type: none;
    padding: 0;
}

.right {    display: flex;

    display: flex;
    gap: 18px;
}

.left {
    font-size: 24px;
}

.footer {
    background-color: #1F2937;
    color:#F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}


.hero-container {
    color:#F9FAF8;
    background-color: #1F2937;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 36px;
}

.hero-info-container {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 18px;
}

.hero-header {
    font-size: 48px;
    font-weight: 900;
    width: 200px;
}

.button1 {
    width: 120px;
    padding: 8px 0px;
    background-color: #3882F6;
    color:#F9FAF8;
    font-weight: 900;
    border-radius: 10px;
    margin-top: 8px;
}

.hero-image {
    width: 480px;
    height: 230px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}


.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex: 1;

}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
}

.info-container {
    display: flex;
    gap: 24px;
}

.infos {
    width: 170px;
    height: 250px;
    text-align: center;

}

.info-box {
    height: 170px;
    border: 4px solid #3882F6;
    border-radius: 12px;
    margin-bottom: 12px;
}

.quote-section {
    background-color: #E5E7EB;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.quote-container {
    width: 800px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;

}

.author {
    font-size: 20px;
    font-weight: 900;
    color:#1F2937;
    text-align: end;
}


.signup-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.signup-container {
    width:1000px;
    height: 120px;
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.action {
    color:#E5E7EB
}

.top {
    font-weight: 900;
    font-size: 20px;
}

.button2{
    width: 120px;
    padding: 8px 0px;
    background-color: #3882F6;
    color:#F9FAF8;
    font-weight: 900;
    border-radius: 8px;
    border: 2px solid #F9FAF8;
}

